/*Devicon size */
.devicon-html5-plain {
  font-size: 7rem;
}

.devicon-css3-plain {
  font-size: 7rem;
}

.devicon-ruby-plain {
  font-size: 7rem;
}

.devicon-javascript-plain {
  font-size: 7rem;
}

.devicon-jquery-plain {
  font-size: 7rem;
}

.devicon-rails-plain {
  font-size: 7rem;
}

.devicon-nodejs-plain {
  font-size: 7rem;
}

.devicon-express-original {
  font-size: 7rem;
}

.devicon-react-plain {
  font-size: 7rem;
}

.devicon-mongodb-plain {
  font-size: 7rem;
}

.devicon-postgresql-plain {
  font-size: 7rem;
}

.devicon-bootstrap-plain {
  font-size: 7rem;
}

.devicon-sass-plain {
  font-size: 7rem;
}

.devicon-git-plain {
  font-size: 7rem;
}

.devicon-github-plain {
  font-size: 7rem;
}

.devicon-heroku-plain {
  font-size: 7rem;
}

.devicon-amazonwebservices-plain {
  font-size: 7rem;
}

.devicon-trello-plain {
  font-size: 7rem;
}

.devicon-foundation-plain {
  font-size: 7rem;
}

.devicon-gimp-plain {
  font-size: 7rem;
}

.devicon-visualstudio-plain {
  font-size: 7rem;
}

.devicon-container {
  margin-top: 4em;
}